{% extends 'layout.html.twig' %}

{% block content %}
    <ul>
    {% for specification in specifications %}
        <li>
            <a href="{{ path('jobset', { 'jobset_id': specification.getJobset().getId() }) }}">{{ specification.getJobset.getFile() }}</a>
           {{ specification.getName() }}
            <a href="{{ path('jobset_delete_confirm', { 'jobset_id': specification.getJobset().getId() }) }}">
                <i class="icon-remove"></i>
            </a>
            {% if specification.getDone() %}
                Done
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
