{%  extends 'base.html.twig' %}

{%  block content %}
    <script src="/assets/js/hogan.js"></script>
    <script src="/assets/js/underscore.js"></script>
    <script src="/assets/js/backbone.js"></script>
    <script type="text/javascript" src="/js/workers-monitoring.js"></script>
    <div id="workers"></div>
{%  endblock %}




